<div class="admin-form">
    <!-- <div class="section">
        <div class="smart-widget sm-right smr-120">
            <label class="field">
                <input type="text" name="<%= inputId %>" id="<%= inputId %>" class="gui-input" placeholder="<%= inputPlaceholder %>">
            </label>
            <button type="submit" class="button" id="<%= btnId %>"><%= btnName %></button>
        </div>
    </div> -->
    <div class="section" id="alert-classify">
        
    </div>
    <div class="section">
        <label class="field prepend-icon">
            <input type="text" name="<%= inputId %>" id="<%= inputId %>" class="gui-input" placeholder="<%= inputPlaceholder %>">
            <label for="<%= inputId %>" class="field-icon">
                <span class="glyphicons glyphicons-sort"></span>
            </label>
        </label>
    </div>
</div>